<!-- <ng-container *ngIf="!configService.metaLoading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <ng-container
          *ngIf="
            (configService.onConfigUpdated$ | async)?.model?.customTitle?.multi;
            else defaultTitle
          "
        >
          {{
            (configService.onConfigUpdated$ | async)?.model?.customTitle?.multi
          }}
        </ng-container>
        <ng-template #defaultTitle>
          {{ configService.config.model.title }}
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mobile-view">
      <ng-container
        *ngIf="
          (configService.onConfigUpdated$ | async)?.model?.multiView
            ?.customSubtitle
        "
      >
        <p class="note">
          {{
            (configService.onConfigUpdated$ | async)?.model?.multiView
              ?.customSubtitle
          }}
        </p>
      </ng-container>
      <ng-container *ngIf="configService.loading; else formData">
        <div class="text-center">
          <div class="inline-loading">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        </div>
      </ng-container>
      <ng-template #formData>
        <ng-container
          *ngIf="
            (configService.onConfigUpdated$ | async)?.model?.permission
              ?.viewaccess;
            else noView
          "
        >
          <form
            class="multi-component-sec form-w" 
            [formGroup]="configService.multiDataForm"
            (submit)="onSubmit()"
            #formDirective="ngForm"
          >
            <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="0">
              <ng-container
                *ngFor="
                  let entity of (configService.onConfigUpdated$ | async)?.model
                    ?.multiView?.order;
                  let i = index
                "
              >
                <div [fxFlex]="configService.multiColsWidth[i]">
                  <h4 class="title-text text-white">
                    {{ configService.entities[entity]?.label }}
                  </h4>
                </div>
              </ng-container>
            </div>
            <ng-container
              *ngIf="configService.multiDataForm.controls.length === 0"
            >
              <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="15px">
                <div fxFlex="100" class="text-center">No Data</div>
              </div>
            </ng-container>
            <div
              class="dhruv"
              *ngFor="
                let formGroup of configService.multiDataForm.controls;
                let i = index
              "
            >
              <ng-container
                *ngFor="
                  let entity of (configService.onConfigUpdated$ | async)?.model
                    ?.multiView?.order;
                  let j = index
                "
                [formGroupName]="i"
              >
                <div
                  [fxFlex]="configService.multiColsWidth[j]"
                  [fxFlex.lt-sm]="100"
                  [fxFlex.sm]="100"
                >
                  <div class="wrap-form-field">
                    <mat-form-field appearance="outline" provideReadonly> -->
                      <!-- <mat-label>{{ configService.entities[entity]?.label }}:
                                              <span *ngIf="
                                          configService.isMandatory(
                                              formGroup.controls[entity]
                                          )
                                          ">*</span>
                                          </mat-label> -->
                      <!-- <input
                        matInput
                        [type]="fieldType(entity, i)"
                        placeholder="Enter {{
                          configService.entities[entity]?.label
                        }}"
                        [formControlName]="entity"
                        (change)="
                          onFieldValueChange(
                            $event,
                            configService.entities[entity]
                          )
                        "
                        [readonly]="
                          configService.entities[entity]?.read_only_edit
                            ? true
                            : false
                        "
                      />
                      <mat-error
                        *ngIf="
                          formGroup.controls[entity]?.hasError('email') &&
                          !formGroup.controls[entity]?.hasError('required')
                        "
                      >
                        Please enter a valid email
                      </mat-error>
                      <mat-error
                        *ngIf="
                          formGroup.controls[entity]?.hasError('maxlength') &&
                          !formGroup.controls[entity]?.hasError('required')
                        "
                      >
                        Maximum allowed length is
                        {{
                          formGroup.controls[entity]?.errors?.maxlength
                            ?.requiredLength
                        }}
                        characters
                      </mat-error>
                      <mat-error
                        *ngIf="
                          formGroup.controls[entity]?.hasError('minlength') &&
                          !formGroup.controls[entity]?.hasError('required')
                        "
                      >
                        Minimum allowed length is
                        {{
                          formGroup.controls[entity]?.errors?.minlength
                            ?.requiredLength
                        }}
                        characters
                      </mat-error>
                      <mat-error
                        *ngIf="formGroup.controls[entity]?.hasError('required')"
                      >
                        {{ configService.entities[entity]?.label }} is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="15px">
              <div fxFlex="100">
                <div class="form-action-section">
                  <div class="inline-loading" *ngIf="configService.submitting">
                    <mat-spinner [diameter]="20"></mat-spinner>
                  </div>
                  <ecc-custom-actions
                    [customActions]="
                      (configService.onConfigUpdated$ | async)?.model?.multiView
                        ?.customActions
                    "
                  >
                  </ecc-custom-actions>
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="
                      !(configService.onConfigUpdated$ | async)?.model
                        ?.permission?.editaccess || configService.submitting
                    "
                  >
                    Update
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="onCancel()"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-template #noView>
          <div class="no-data-message">No Permission to view</div>
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>
</ng-container> -->
